/* style na cały dokument */

.container {
    margin: 0 auto;
    width: 1100px;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
}

/* sekcja pierwsza - header z menu po prawej stronie */

header {
    background-color: black;
    height: 50px;
    width: 100%;
}

header .container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header p {
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
}

.turquoise_bold {
    font-weight: 800;
    color: #27C7AB;
}

.header__list__item {
    position: relative;
    display: inline-block;
}

.header__list__item ul:hover .header__list__dropdown {
    display: block;
}

.header__link {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
}

.header__list > li:last-of-type {
    margin-left: 30px;
}

.header__list > li:first-of-type {
    margin-right: 50px;
}

.header__list__dropdown {
    display: none;
    position: absolute;
    padding-top: 25px;
    top: 22px;
    left: -12px;
}

.header__list__dropdown:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 12px solid black;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 25px;
    top: 14px;
}

.header__list__dropdown li {
    display: block;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
    padding: 8px 16px 8px 12px;
}

.header__list__dropdown li:nth-of-type(2) {
    padding: 0 16px 0 12px;
}

/* sekcja druga - slider */

.slider {
    height: 460px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(237, 237, 237, 1) 72%, rgba(189, 189, 189, 1) 100%);
}

.slider .container {
    height: 460px;
    display: flex;
    align-items: center;
}

.slider__arrow {
    font-size: 80px;
    color: #27C7AB;
}

.slider__slide1 {
    height: 400px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.slider__slide1 > img {
    width: 500px;
}

.slider__slide1__description {
    height: 400px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.slider__slide1__description__header {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
}

.slider__slide1__description__header > span {
    color: #27C7AB;
    font-weight: 700;
}

.slider__slide1__description__text {
    word-spacing: 1px;
    line-height: 22px;
    margin: 20px 0;
}

.slider__slide1__description__link {
    width: 200px;
    height: 40px;
    padding-top: 8px;
    background-color: #27C7AB;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 14px;
}

/* sekcja trzecia - krzesla */

.krzesla {
    margin: 23px auto 40px auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

.krzesla__img1 {
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
    width: 340px;
    height: 225px;
}

.krzesla__img2 {
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
    width: 340px;
    height: 225px;
}

.krzesla__info {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    height: 255px;
    width: 370px;
    padding: 20px;
}

.krzesla__info h2 {
    border-bottom: 8px solid #27C7AB;
    width: 150px;
    font-weight: 700;
    margin: 10px 0;
}

.krzesla__info p {
    line-height: 22px;
    font-size: 14px;
    color: dimgrey;
}

/* sekcja czwarta - cennik. */
/* style wspólne dla każdej z trzech ofert*/

section.cennik > div {
    height: 450px;
}

.cennik {
    font-family: 'Raleway', sans-serif;
    background-color: #f0f0f0;
    height: 670px;
}

.cennik h2 {
    border-bottom: 10px solid #27C7AB;
    color: dimgrey;
    width: 320px;
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.cennik__oferty {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.cennik__oferta {
    width: 340px;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cennik__oferta__circle {
    height: 140px;
    width: 140px;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    margin-bottom: 35px;
}

.cennik__oferta__circle p:first-child {
    font-size: 37px;
    font-weight: 700;
    color: #BABABA;
}

.cennik__oferta__circle p:last-child {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #BABABA;
}

.cennik__oferta__opis p {
    height: 42px;
    width: 336px;
    font-size: 25px;
    padding-top: 4px;
}

.cennik__oferta__button {
    height: 30px;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    padding-top: 6px;
    position: absolute;
    bottom: 14px;
    left: 105px;
}

.cennik__oferta h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*style osobne dla dwóch rodzajów cenników */

.cennik__oferta--1 {
    border: 2px solid #BABABA;
    background-color: #F5F5F5;
}

.cennik__oferta--2 {
    border: 2px solid #27C7AB;
    background-color: #27C7AB;
}

.cennik__oferta--1 h3 {
    color: #27C7AB;
}

.cennik__oferta--2 h3 {
    color: white;
}

.circle1 {
    border: 2px solid #BABABA;
}

.opis1 p:nth-child(1) {
    border-top: 2px solid white;
}

.opis1 p:nth-child(2n) {
    background-color: #f0f0f0;
    color: grey;
}

.opis1 p:nth-child(2n-1) {
    background-color: #D9D9D9;
    color: #A1A1A1;
}

.opis2 p:nth-child(2n) {
    background-color: #f0f0f0;
    color: #A1A1A1;
}

.opis2 p:nth-child(2n-1) {
    background-color: #FCFCFC;
    color: #A1A1A1;
}

.button1 {
    background-color: #27C7AB;
}

.button2 {
    background-color: white;
}

.cennik__oferta--2 a:visited {
    color: #27C7AB;
}

